<div class="layui-fluid">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md7 layui-form" lay-filter="resource-form"
             style="padding: 20px 30px 0 0;">
            <div class="layui-form-item" style="display: none">
                <div class="layui-input-block">
                    <script type="text/html" template>
                        <input type="hidden" class="layui-input" name="resourceId"
                               value="{{ d.params.resourceId || '' }}"/>
                    </script>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">类型</label>
                <div class="layui-input-block">
                    <script type="text/html" template>
                        <select name="resourceType">
                            {{# layui.each(layui.resource.type, function(key, value) { }}
                            <option value="{{ key }}" {{ d.params.resourceType=== key ?
                            'selected' : '' }}>{{ value }}</option>
                            {{# }) }}
                        </select>
                    </script>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">名称</label>
                <div class="layui-input-block">
                    <script type="text/html" template>
                        <input type="text" class="layui-input" name="resourceName"
                               value="{{ d.params.resourceName || '' }}"
                               lay-verify="required"/>
                    </script>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">标识</label>
                <div class="layui-input-block">
                    <script type="text/html" template>
                        <input type="text" class="layui-input" name="resourceSign"
                               value="{{ d.params.resourceSign || '' }}"
                               lay-verify="required"/>
                    </script>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">图标</label>
                <div class="layui-input-block">
                    <script type="text/html" template>
                        <input type="text" class="layui-input" name="resourceIcon"
                               value="{{ d.params.resourceIcon || '' }}"
                               lay-verify="required"/>
                    </script>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">地址</label>
                <div class="layui-input-block">
                    <script type="text/html" template>
                        <input type="text" class="layui-input" name="resourceUri"
                               value="{{ d.params.resourceUri || '' }}"/>
                    </script>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">顺序</label>
                <div class="layui-input-block">
                    <script type="text/html" template>
                        <input type="text" class="layui-input" name="resourceOrder"
                               value="{{ d.params.resourceOrder || '0' }}"/>
                    </script>
                </div>
            </div>
            <div class="layui-form-item" style="display: none">
                <div class="layui-input-block">
                    <script type="text/html" template>
                        <input type="text" class="layui-input" name="parentId" value="{{ d.params.parentId || '0' }}"
                               lay-verify="required"/>
                    </script>
                </div>
            </div>
            <div class=" layui-form-item">
                <label class="layui-form-label">上级</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <script type="text/html" template>
                        <input type="text" class="layui-input" readonly name="parentName"
                               value="{{ d.params.parentName || '无' }}"
                               lay-verify="required"/>
                    </script>
                </div>
                <div class="layui-form-mid layui-word-aux">在右侧点击选择上级</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <div class="layui-input-inline">
                    <input type="button" lay-submit lay-filter="resource-form-submit" value="确认" class="layui-btn">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <script type="text/html" template>
                        <input type="hidden" name="popup" value="{{d.params._popup}}" class="layui-btn">
                    </script>
                </div>
            </div>
        </div>
        <div class="layui-col-md5" style="overflow:auto">
            <div id="resource-tree" style="border: #029789 dotted 1px; min-height: 400px;border-radius: 8px;"></div>
        </div>
    </div>
</div>

<script>
    layui.use(['admin', 'form', 'tree', 'resource'], function () {
        let $ = layui.$
        let form = layui.form;
        let layer = layui.layer;
        let resource = layui.resource;
        let tree = layui.tree;
        form.render(null, 'resource-form');

        //加载资源树
        resource.event['load'](function (data) {
            tree.render({
                elem: '#resource-tree'
                , data: data
                , showCheckbox: false
                , onlyIconControl: true
                , id: 'resource-tree'
                , isJump: false
                , accordion: true
                , click: function (obj) {
                    console.log(/click/, obj)
                    $('input[name=\'parentId\']').val(obj.data.id)
                    $('input[name=\'parentName\']').val(obj.data.title)
                }
            });
        })

        //监听提交
        form.on('submit(resource-form-submit)', function (data) {
            //获取提交的字段
            let field = data.field;
            resource.event['save'](field, function () {
                layui.table.reload('table-resource-list');
                layer.close(field['popup']);
            })
        });
    })
    ;
</script>
