<div class="layui-form" lay-filter="role-form" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
        <div class="layui-input-block">
            <script type="text/html" template>
                <input type="hidden" class="layui-input" name="roleId" value="{{ d.params.roleId || '' }}"/>
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">角色</label>
        <div class="layui-input-block">
            <script type="text/html" template>
                <input type="text" class="layui-input" name="roleName" value="{{ d.params.roleName || '' }}"
                       lay-verify="required"/>
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">标识</label>
        <div class="layui-input-block">
            <script type="text/html" template>
                <input type="text" class="layui-input" name="roleSign" value="{{ d.params.roleSign || '' }}"
                       lay-verify="required"/>
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <script type="text/html" template>
                <textarea type="text" name="description" autocomplete="off"
                          class="layui-textarea">{{ d.params.description || '' }}</textarea>
            </script>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
            <input type="button" lay-submit lay-filter="role-form-submit" value="确认" class="layui-btn">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <script type="text/html" template>
                <input type="hidden" name="popup" value="{{d.params._popup}}" class="layui-btn">
            </script>
        </div>
    </div>
</div>

<script>
    layui.use(['admin', 'form', 'role'], function () {
        let $ = layui.$
        let form = layui.form;
        let layer = layui.layer;
        let role = layui.role;
        form.render(null, 'role-form');

        //监听提交
        form.on('submit(role-form-submit)', function (data) {
            //获取提交的字段
            let field = data.field;
            role.event['save'](field, function () {
                layui.table.reload('table-role-list');
                layer.close(field['popup']);
            })
        });
    });
</script>
