<title>角色管理</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>用户管理</cite></a>
        <a><cite>角色管理</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <script type="text/html" id="table-role-header-tpl">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
                </div>
            </script>
            <table id="table-role-list" lay-filter="table-role-list-filter"></table>
            <script type="text/html" id="table-role-list-tool">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">
                    <i class="layui-icon layui-icon-edit"></i>编辑</a>
                {{#  if(d.enable == true){ }}
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="disable">
                    <i class="layui-icon layui-icon-delete"></i>禁用</a>
                {{#  } else { }}
                <a class="layui-btn layui-btn-success layui-btn-xs" lay-event="enable">
                    <i class="layui-icon layui-icon-add-1"></i>启用</a>
                {{#  } }}
            </script>
        </div>
    </div>
</div>

<script>
    layui.use('role', layui.factory('role')).use(['admin', 'table', 'role'], function () {
        let $ = layui.$
    });
</script>